# -----------------------------
# ANDROID / GRADLE
# -----------------------------
.gradle/
build/
*/build/
**/build/
*.iml
.idea/
captures/
local.properties
*.apk
*.ap_
*.aab
output.json

# -----------------------------
# NDK / CMAKE / INTERMEDIATE
# -----------------------------
obj/
**/obj/
.externalNativeBuild/
.cxx/
intermediates/
**/intermediates/

# -----------------------------
# OPENCV SDK (LOCAL PATH)
# -----------------------------
OpenCV-android-sdk/
opencv/
sdk/native/

# -----------------------------
# OS RELATED
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# NODE / WEB FRONTEND
# -----------------------------
web/node_modules/
web/dist/
web/out/
web/.cache/
web/.parcel-cache/
web/.vite/
web/build/
web/package-lock.json

# Folders inside public added by dev tools
web/public/src/
web/public/test/

# -----------------------------
# LOGS
# -----------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
